@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #050816;
  --color-primary: #11b6fb;
  --color-primary-50: rgb(17 182 251 / .5);
  --color-secondary: #5350f7;
  --color-accent: #a767f5;
  --centered-drop-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
  @apply transition-all duration-300 ease-in-out;
  color: white;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.border-gradient-wrapper {
  position: relative;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(
    to right,
    var(--color-primary), 
    var(--color-secondary),
    var(--color-accent)
  );
}

.border-gradient-wrapper > * {
  background: var(--color-bg);
  border-radius: 10px;
}
